body {
    font-family: 'Roboto', sans-serif;
}

#status {
    color: rgb(219, 101, 101);
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(66, 66, 66);
    color: white;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: -webkit-fill-available;
}

#main {
    padding: 20px;
    margin-top: 50px;
}

.set-wrapper {
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #e1e1e1;
    padding: 20px;
    border-radius: 20px;
    flex-wrap: wrap;
}

.button {
    padding: 15px;
    display: grid;
    place-items: center;
    background-color: #1bbef0;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: 3px 5px;
    min-width: 80px;
    text-transform: capitalize;
    /* border: 2px solid #686868 */
}

.button:hover {
    background-color: #099fcc;
}

.device-btn {
    padding: 10px;
}

.device-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.device-head {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.device-status {
    text-transform: capitalize;
}

.device {
    border: solid #2cd018;
    padding: 20px;
    border-radius: 15px;
}

.sensor {
    font-weight: 700;
    border: solid #1849d0;
    padding: 20px;
    border-radius: 15px;
    margin: 10px 5px;
}

.sensor-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.notification {
    width: -webkit-fill-available;
    display: flex;
    background-color: #eff9ffa6;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 7px;
    font-weight: 600;
    margin-bottom: 9px;
}

#notifications {
    max-height: 250px;
    overflow-y: scroll;
}


#notifications::-webkit-scrollbar {
    display: none;
}

.notification-text {
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    background: #d8d8d8;
    padding: 20px;
    border-radius: 12px;
}

.input-set {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    width: 250px;
}